
#cal-header {
  padding: 10px 0 5px 10px;
  border-bottom: solid #bf1e2e 2px;
}


#cal-box {
  height: 300px;
  background-color: #eee;
  border-radius: 5px;
}

#upcoming-concerts {
  height: 260px;
  padding: 10px 0 0 10px;
  overflow-y: auto;
  background-color: #eee; 
}

#upcoming-concerts p {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  display: block;
  text-decoration: none;
}
